* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main3{
  height: 110vh;
  width: 100vw;
  margin: auto;
  background-color: black;
  padding-top: 30px;
  position: relative;
  z-index: 4;
}
.Container {
  max-width: 700px;
  margin-top: 30px;
  margin: auto;
  /* background-color: rgb(79, 79, 79); */
  padding: 20px;
  border-radius: 12px;
  color: white;
  transform: all 3s ease-in-out;
}
.Container:hover{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.Container h1 {
  font-size: 36px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 40px;
  padding: 0;
}

.skill {
  margin-bottom: 25px;
  transition: color 2s ease;
}

.skill p {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 18px;
}
.skill p:hover{
  color: rgb(45, 241, 255);
}
.bar {
  width: 100%;
  height: 10px;
  border-radius: 4px;
  overflow: hidden;
  /* background: #222; */
}

.fill {
  height: 100%;
  background-color: #00ff90;
  width: 0%; /* start from zero */
}

@media (max-width: 400px) {

.Container {
  max-width: 350px;
  margin-top: 30px;
}
.Container h1 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h2 {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 25px;
  padding: 0;
}

.skill {
  margin-bottom: 25px;
}

.skill p {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 12px;
}


}